body {
  font-family: Roboto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #1f2937;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.links,
.secondary {
  font-size: 18px;
  color: #e5e7eb;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
}

img {
  width: 500px;
}
