* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.hero {
  background-color: #1f2937;
  display: flex;
  justify-content: space-evenly;
  padding: 80px;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-left {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.links,
.secondary {
  font-size: 18px;
  color: #e5e7eb;
}

.links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 5px;
  width: 100px;
  padding: 5px;
}

.first-image {
  width: 600px;
  height: 300px;
}

img {
  width: 250px;
  height: 250px;
}

h2 {
  text-align: center;
  font-size: 40px;
  margin: 50px;
}

.images {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin: 50px;
}

.text {
  text-align: center;
}

.third-section {
  background-color: #e5e7eb;
  display: flex;
  padding: 100px;
  justify-content: center;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: light;
  color: #1f2937;
  max-width: 800px;
}

.fourth-section {
  display: flex;
  justify-content: center;
}

.call {
  background-color: #3882f6;
  color: #e5e7eb;
  width: 60%;
  display: flex;
  justify-content: space-around;
  padding: 40px;
  border-radius: 5px;
  margin: 100px;
}

.second-button {
  border-color: #e5e7eb;
  font-weight: 900;
}

.footer {
  background-color: #1f2937;
  padding: 40px;
  color: #e5e7eb;
  text-align: center;
}
